@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 150px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.cimg{
    background-color: rgb(26, 25, 25);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#cimg1{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

#cimg2{
    background-image: url(../imagens/background002.jpg);
    background-position: left center;
}

.pcimg {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.479);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}